@import "../../Styles/Responsive.scss";

.cart{
    font-family: 'Roboto', sans-serif; 
    position: fixed;
    top: 3.1rem;
    right: 0;
    padding: 1rem;
    background: #fff;
    width: 400px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    @include tablet {
        top: 2.6rem;
        width: 300px;
      }

      @include mobile {
        top: 2.88rem;
      }

    h1{
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 1rem;

        @include tablet {
            font-size: 14px;
          }
    
    }

    .reset{
        font-size: 13px;
        color: #f40000;
        font-weight: 500;
        cursor: pointer;

        @include tablet {
            font-size: 11px;
          }
    }
}