@import '../../Styles/Responsive.scss';

.mobileNav{
    position: fixed;
    width: 100%;
    z-index: 10;
    display: none;

    @include mobile{
        display: block;
    }
    
    img{
        width: 16px;
    }

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: .5rem 3%;
        background: #fff;

        .logo{
            a{
                display: flex;
                align-items: center;
                gap: .2rem;

                img{
                    width: 20px;
                }

                h1{
                    font-size: 14px;
                    span{
                        font-family: 'Clicker Script', cursive;
                        font-size: 15px;
                        color: #3184D7;
                    }
                }
            }
           
        }

        .menu{
            width: 25px;
            height: 25px;
            position: relative;
            opacity: 0;
            animation:  fadeInRight 1s 1s forwards;

            img{
                position: absolute;
                width: 20px;
                cursor: pointer;
                transition: .3s;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

            }
        
        }


    }

    .bottom{
        padding: .8rem 5%;
        background: #fff;
        transform: translateX(100%);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        margin-top: -.1rem;
        opacity: 0;
       

        &.showMenu{
            transform: translateX(0);
            animation:  fadeInRight 1s 1s forwards;
        }

        .mnWrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cartWrapper{
                position: relative;
                cursor: pointer;

                span{
                    position: absolute;
                    top: -4px;
                    right: -5px;
                    background: red;
                    width: 10px;
                    height: 10px;
                    color: #fff;
                    font-size: 8px;
                    border-radius: 50%;
                    display: grid;
                    place-content: center;
                }
            }

        }
      
    }

}