.popup{
    width: 200px;
    background: #3184D7;
    position: fixed;
    right: -160px;
    bottom : 43.1%;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    animation: slide 10s ease-in-out infinite ;

    @keyframes slide{
        0%,
        45%,
        100%{
            right: -160px;
        }
        50%,
        95%{
            right: 0;
        }
    }

    .imgWrapper{
        padding: .2rem .3rem;
        transition: .3s;

        img{
            width: 30px;
        }

        &:hover{
            background: #235d96;
        }
    }

    p{
        font-size: 13px;
        color: #fff;
    }
}