.home{
    position: relative;

    .topButton{
        position: fixed;
        bottom: 1rem;
        right: 1rem;

        button{
            background: #fff;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            img{
                width: 20px;
            }
        }
    }
}