@import '../../Styles/Responsive.scss';

.feature{
    padding-inline: 5%;

    .container{
        margin-bottom: 3%;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .itemInfo{
            h1{
                font-weight: 200;
                margin-bottom: 1rem;

                @include tablet{
                    font-size: 22px;
                }
            }

            p{
                width: 400px;
                margin-bottom: 1rem;
                line-height: 30px;
                font-size: 18px;
                color: #444;
                font-weight: 300;

                @include tablet{
                    font-size: 14px;
                    width: 300px;
                    line-height: 22px;
                }
            }

            button{
                width: 120px;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                padding-block: .5rem;
                margin-right: 1rem;

                @include tablet{
                    font-size: 13px;
                    width: 100px;
                }

                &.learnMore{
                    background: #3184D7;
                }

                &.buyNow{
                    background: red;
                }
            }
        }

        img{
            width: 50%;
        }
    }

    .moreFeature{
        margin-bottom: 3rem;

        @include tablet{
            margin-bottom: 2rem;
        }

        h2{
            margin-bottom: 1rem;
            margin-top: 2rem;

            @include tablet{
                font-size: 16px;
            }
        }

        .wrapper{
            display: flex;
            gap: 1rem;
            justify-content: center;

            .item{
                padding: 1rem;
                border: 1px solid #fff;
                transition: .3s;
                width: 200px;
                height: 200px;
                border-radius: 1rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                @include tablet{
                    width: 150px;
                    height: 150px;
                    padding: .5rem;
                }




                &:hover{
                    border: 1px solid #3184D7;;
                }

                img{
                    width: 80%;
                }

                p{
                    font-weight: 200;
                    color: #444;
                    text-align: center;
                    position: absolute;
                    bottom: 1rem;

                    @include tablet{
                        font-size: 11px;
                    }
                }

            }
        }
    }
    }   
}